body{
font-amily: Arial;
margin: 0;
}
header{
	background:#1e90ff;
	color: white;
	padding: 20px;
	text-align: center;
}
nav a {
	color: white;
	margin: 10px;
	text-decoration: none;
}
.home, .contact, .details{
	text-align: center;
	padding: 30px;
}
.home img, .details img{
	width:1300px;
}
.packages{
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 30px;
}
.card {
	border: 1px solid #ccc;
	width: 220px;
	text-align: center;
	padding: 15px;
}
.card img {
	width: 100%;
	height: 140px;
}
footer {
	background: #222;
	color: white;
	text-align: center;
	padding: 10px;
}
.form-box{
	width: 300px;
	margin: auto;
}
.form-box input,
form-textarea {
	width: 100px;
	padding: 10px;
	margin: 1px 0;
	border: 1px solid #ccc;
}
form-box button {
	width: 100px;
	padding: 10px;
	background: #1e90ff;
	color: white;
	border: none;
}